@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "@fontsource/inter/variable.css"; */


/* import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css'; */

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* .tasa-orbiter-<uniquifier> {
  font-family: "TASA Orbiter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */



@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-slide-up {
  animation: slideUp 0.3s ease-out;
}


pre {
  white-space: pre !important;
}

code {
  white-space: pre !important;
}


.input {
  width: 100%;
  padding: 0.5rem 1rem;
  /* py-2 px-4 */
  border-radius: 0.75rem;
  /* rounded-xl */

  background-color: #374151;
  /* bg-gray-700 */
  border: 1px solid #4b5563;
  /* border-gray-600 */

  color: #ffffff;
  /* text-white */
  outline: none;

  font-size: 1rem;
}

.input::placeholder {
  color: #9ca3af;
  /* placeholder-gray-400 */
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #6366f1;
  /* focus:ring-2 indigo-500 */
  border-color: #6366f1;
}